#mapid { 
    height: 60vw;
    width: 100%;
}

.ToAirport, .FromAirport {
    margin: 5px;
}

.airportsList {
    width: 100%;
    margin-top: 10px;
}

.airportsList ul {
    margin-block-start: 0;
}
